/* ===== Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===== Reset ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:#FFF8F3;

    color:#444;

}

/* ===== Header ===== */

.header{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;

    background:white;

    box-shadow:0 5px 20px rgba(0,0,0,.05);

    position:sticky;

    top:0;

    z-index:999;

}

.logo{

    font-size:28px;

    font-weight:700;

    color:#d95d9f;

}

.menu{

    display:flex;

    gap:35px;

}

.menu a{

    text-decoration:none;

    color:#555;

    font-weight:500;

    transition:.3s;

}

.menu a:hover{

    color:#d95d9f;

}
